@media (max-width: 900px) {
  .text {
    text-align: center;
  }

  .contact {
    text-align: center;
  }

  .image {
    place-self: center;
    width: 80%;
    height: auto;
  }

  .socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .icon {
    width: 1em;
  }
}

@media (min-width: 901px) {
  .text {
    text-align: center;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .image {
    place-self: center;
    width: 50%;
    height: auto;
  }

  .socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
  }

  .icon {
    width: 1em;
  }
}
