.title {
  display: flex;
  align-items: center;
}

.images {
  margin: 50px;
}

.pic1 {
  display: flex;
}

.pic1before {
  width: 50%;
  height: auto;
}

.pic1after {
  width: 50%;
  height: auto;
}

.pic2 {
  display: flex;
}

.pic2before {
  width: 50%;
  height: auto;
}

.pic2after {
  width: 50%;
  height: auto;
}
