.textcontainer {
  text-align: center;
  margin: 5vh 5vw;
}

.servicelist {
  margin: 5vh 5vw;
}

.list {
  padding-left: 0;
  list-style: none;
}

.locationlist {
  margin: 5vh 5vw;
}

.imagecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 50px;
  margin: 5vh 5vw;
}

.imagecontainer div {
  margin: 1em;
}

.imagecontainer img {
  max-width: 100%;
  height: auto;
  margin: 1em;
}

.endingtextcontainer {
  text-align: center;
  margin: 5vh 5vw;
}
