.header {
  display: flex;
  background: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  flex: 1;
}

.logo {
  max-width: 100px;
  height: auto;
}

.logocontainer {
  padding: 10px;
  width: 33%;
  text-align: left;
}

.title {
  padding: 10px;
  width: 33%;
  text-align: center;
}

.phone {
  padding: 10px;
  width: 33%;
  text-align: right;
}
